body{
    background-color: lawngreen;
}

#right_sketch{
    font-size: 30px;
    margin-right: 70%;
}

#sketch_timer{
    font-size: 30px;
    float: right;
    margin-right: 5%;
}

#Sketch_to_be_drawn{
    color: red ;
    font-weight: bolder;
    font-family: cursive;
}